button {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  display: block;
  background-color: rgb(231, 76, 60);
  border: 1px solid transparent;
  color: #ffffff;
  font-weight: 300;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(231, 76, 60);
  border-color: rgb(231, 76, 60);
}